@font-face {
    font-family: 'Roboto';
    src: url(../foonts/Roboto/Roboto-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Roboto';
    src: url(../foonts/Roboto/Roboto-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Roboto';
    src: url(../foonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'RobotoCondensed';
    src: url(../foonts/Roboto_Condensed/RobotoCondensed-Bold.ttf);
    font-weight: 700;
}